*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
   
}
.hero{
    height: 100%;
    width: 100%;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /* background-color: rgb(231, 232, 241); */
    /* background:linear-gradient(to right, #10efff,#046cf5); */
    background-position: center;
    background-size: cover;
    position: absolute;
  
   
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    overflow:hidden; 
    color: white;

}
.button-box{
    width: 200px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 27px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /* background:linear-gradient(to right, #10efff,#046cf5); */
    border-radius: 30px;
    transition: .5s;
    color: rgb(255, 255, 255);
}
.social-icons{
    margin:30px auto;
    text-align:center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    background: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
   
}
.input-group{
    top: 10px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.inut-field{
    width: 95%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px soild #999;
    outline:none ;
    background: transparent;

}
.submit-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    /* background: linear-gradient(to right, #10efff,#046cf5); */
    outline: none !important;
    
    border-radius: 30px;
}
.check-box{
    margin: 8px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 58px;
    /* position: absolute; */

}
 #login{
    left: 50px;

} 
 #register{
    left: 50px;
    top: -16rem;
   
} 
.toggle-btn:focus{
    outline: none;
}